@charset "UTF-8";

* { margin: 0; padding: 0; box-sizing: border-box; outline: none; }
a, a:hover { text-decoration: none !important; }
li { list-style: none; }
body { min-height: 100vh; position: relative; }
.all-unset { all: unset; }
.text-ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.color-666, .color-666-hover  {color: #666; }
.color-666-hover:hover { color: #000; }

.container-100 { width: 100%; height: 100%; position: relative; margin: 0 auto; }
.container-80 { width: 80%; height: 100%; position: relative; margin: 0 auto; }
.container-50 { width: 50%; height: 100%; position: relative; margin: 0 auto; }
.container-1140 { width: 1140px; height: 100%; position: relative; margin: 0 auto; }


header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #ddd;
}

.header-util {
    width: 100%;
    height: 40px;
    position: relative;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.header-bottom { height: 80px; }

#logo {
    height: 100%;
    object-fit: cover;
}

nav,
nav > a {
    height: 100%;
}

#dep2 {
    position: absolute;
    width: 100px;
    border-top: 1px solid #007bff;
    top: 60px;
    display: none;
    flex-direction: column;
    right: 0;
}

#dep2 > a {
    width: 100%;
    text-align: center;
    padding: 4px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

nav > a:hover ~ #dep2,
#dep2:hover { display: flex; }